<h1 class="mt-3">対局一覧</h1>
<div>
  <p class="mb-0">日本チェス連盟に報告があった対局結果を見ることができます。</p>
  <p>プレイヤー名・大会名・日付などで検索できます。</p>
</div>

<div class="border border-primary rounded">
  <%= form_with model: @search_parameter, url: "/", method: :get, local: true, skip_enforcing_utf8: true, html: {class: "game-form", id: "searchForm"} do |form| %>
    <div class="align-middle">
      <h2 class="h5 p-3 pb-0">
        <%= image_tag('/icons/magnifying-glass.svg', {:size => '25x25'}) %>
        条件を指定して対局結果を検索する
      </h2>
      <hr>
      <div class="p-3 pt-1">
        <div class="form-group">
          <%= form.label :name, "プレイヤー名", class: "label-width" %>
          <%= form.text_field :name, size: 20 %>
        </div>
        <hr>
        <div class="form-group">
          <%= form.label :tournament, "大会名", class: "label-width" %>
          <%= form.text_field :tournament, size: 20 %>
        </div>
        <hr>
        <div class="form-group">
          <%= form.label :date_from, "日付", class: "label-width" %>
          <%= form.date_field :date_from %>
          ~
          <%= form.date_field :date_until %>
        </div>
        <hr>
        <%= form.submit "条件を指定して検索", name: nil, class: "btn btn-outline-primary ms-1 btn-sm" %>
      </div>
    </div>
  <% end %>
</div>

<h2 class="h5 mt-5">
  <%= image_tag('/icons/square-poll.svg', {:size => '25x25'}) %>
  検索結果: <%= [@games.size, 100].min %>件
</h2>
<% if @games.size >= 100 %>
  <span>一度に表示できるのは100件までです。検索条件を絞ることで他の対局を表示できます。</span>
<% end %>
<div class="border border-secondary rounded mt-1 mb-3">
  <table class="table table-striped game-table">
    <thead>
      <tr>
        <th scope="col" class="text-center name-width">白名前</th>
        <th scope="col" class="text-center rating-width">白R</th>
        <th scope="col" class="text-center result-width">結果</th>
        <th scope="col" class="text-center name-width">黒名前</th>
        <th scope="col" class="text-center rating-width">黒R</th>
        <th scope="col" class="text-center date-width ">日付</th>
        <th scope="col" class="text-center tournament-width">大会名</th>
        <th scope="col" class=""></th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td class="text-center"><%= game.white_name_jp %></td>
          <td class="text-center"><%= game.white_rating %></td>
          <td class="text-center"><%= result_to_white_s(game.white_point) %></td>
          <td class="text-center"><%= game.black_name_jp %></td>
          <td class="text-center"><%= game.black_rating %></td>
          <td class="text-center"><%= game.date %></td>
          <td class="text-center"><%= game.tournament_name.truncate(15) %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
