
<div class="row">
  <div class="col-4">
    <div class="h6 text-center">すべての対局</div>
    <div class="text-center">
      <span>
        合計: <%= @player.games_of(time_type).size %>対局
      </span>
    </div>
    <canvas id="<%= time_type.downcase %>WholePeriodAllChart" data-win="<%= @player.win_games_of(time_type).size %>" data-loss="<%= @player.loss_games_of(time_type).size %>" data-draw="<%= @player.draw_games_of(time_type).size %>"></canvas>
  </div>
  <div class="col-4">
    <div class="h6 text-center">白番の対局</div>
    <div class="text-center">
      <span>
        合計: <%= @player.color_games_of(time_type, "White").size %>対局
      </span>
    </div>
    <canvas id="<%= time_type.downcase %>WholePeriodWhiteChart" data-win="<%= @player.color_win_games_of(time_type, "White").size %>" data-loss="<%= @player.color_loss_games_of(time_type, "White").size %>" data-draw="<%= @player.color_draw_games_of(time_type, "White").size %>"></canvas>
  </div>
  <div class="col-4">
    <div class="h6 text-center">黒番の対局</div>
    <div class="text-center">
      <span>
        合計: <%= @player.color_games_of(time_type, "Black").size %>対局
      </span>
    </div>
    <canvas id="<%= time_type.downcase %>WholePeriodBlackChart" data-win="<%= @player.color_win_games_of(time_type, "Black").size %>" data-loss="<%= @player.color_loss_games_of(time_type, "Black").size %>" data-draw="<%= @player.color_draw_games_of(time_type, "Black").size %>"></canvas>
  </div>
</div>