<% content_for :importmap_tag do %>
  <%= javascript_importmap_tags 'player/show' %>
<% end %>
<% content_for :og_head do %>
  <meta name="description" content="<%= @player.name_jp %>のチェス対局結果統計情報。手番ごとの勝率を表示。チェスの公式戦の対局を調べることができます。プレイヤー名や大会名から対局の検索ができます。">
  <meta property="og:title" content="<%= @player.name_jp %> | チェス対局結果まとめ">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= player_url(id: @player.ncs_id) %>">
  <meta property="og:description" content="<%= @player.name_jp %>のチェス対局結果統計情報。手番ごとの勝率を表示。チェスの公式戦の対局を調べることができます。プレイヤー名や大会名から対局の検索ができます。">
  <meta property="og:image" content="<%= root_url %>ogp.jpg">
<% end %>

<h1 class="mt-3">
  <%= image_tag('/icons/user.svg', {:size => '40x40'}) %>
  <span><%= @player.name_jp %></span>
  <span>の統計情報</span>
</h1>
<div>
  日本チェス連盟に報告があった対局の結果を元に統計情報を出しています。
</div>

<h2 class="mt-3">
  <%= image_tag('/icons/square-poll.svg', {:size => '25x25'}) %>
  スタンダード
</h2>
<%= render "stats_doughnut", time_type: "ST" %>

<h2 class="mt-3">
  <%= image_tag('/icons/square-poll.svg', {:size => '25x25'}) %>
  ラピッド
</h2>
<%= render "stats_doughnut", time_type: "RP" %>

<div class="mb-5"></div>
