<!DOCTYPE html>
<html class="h-100">
  <head prefix="og: https://ogp.me/ns#">
    <% if Rails.env.production? %>
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-PY0B4S2HM9"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-PY0B4S2HM9');
      </script>
    <% end %>

    <title>チェス対局結果まとめサイト</title>
    <% if content_for?(:og_head) %>
      <%= yield(:og_head) %>
    <% else %>
      <meta name="description" content="チェス対局結果まとめサイト。チェスの公式戦の対局を調べることができます。プレーヤー名を指定して対局の検索ができます。">
      <meta property="og:title" content="チェス対局結果まとめ">
      <meta property="og:type" content="website">
      <meta property="og:url" content="<%= root_url %>">
      <meta property="og:description" content="チェス対局結果まとめサイト。チェスの公式戦の対局を調べることができます。プレーヤー名を指定して対局の検索ができます。">
      <meta property="og:image" content="<%= root_url %>icon-120x120.png">
    <% end %>
    <%= favicon_link_tag('/icon-48x48.png', {:type => 'image/png'}) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=730">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "bootstrap" %>

    <% if content_for?(:importmap_tag) %>
      <%= yield(:importmap_tag) %>
    <% else %>
      <%= javascript_importmap_tags 'application' %>
    <% end %>
    <%= yield(:additional_scripts) %>

    <%# javascript sentry %>
    <script
      src="https://js.sentry-cdn.com/160960de6cc247c4f98bd1270e206935.min.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="h-100" style="touch-action: manipulation;">
    <div class="min-vh-100">
      <% if content_for?(:header_element) %>
        <%= yield(:header_element) %>
      <% else %>
        <div><%= render partial: 'layouts/header' %></div>
      <% end %>
      <div class="container-md">
        <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> alert-dismissible">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
